/* Estilos generales*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cca435;
    color: #000;
    padding: 15px;
    text-align: center;
    position: relative;
}

header img {
    width: 100vw;
    height: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: -15px;
    
}

.menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
}

section {
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta la imagen al tamaño de la sección manteniendo su relación de aspecto */
    background-position: center center;
}


footer {
    background-color: #cca435;
    color: #000;
    text-align: center;
    padding: 10px;
}

/* Estilos para tablet y dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    .menu {
        display: block;
        position: relative;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none; /* Oculta la lista por defecto */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Posiciona la lista en la parte inferior del ícono de menú */
        left: 0;
        background-color: #272318;
        width: 100%;
    }

    /* Estilo adicional para ocultar la lista cuando el menú no está activo */
    .menu:not(.active) ul {
        display: none;
    }

    .menu ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; /* Mantén top en 100% */
        left: 0;
        background-color: #b99531f6;
        width: 100%;
    }

    .menu li {
        margin: 0;
        text-align: center;
        box-sizing: border-box;
    }

    .menu a {
        text-decoration: none;
        color: #000;
        display: block;
        padding: 10px;
    }
}


/* Estilos para menu activo*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu li.active {
    background-color: #b99531f6;
    padding: 8pt;
}

/* Agrega estilos para la clase 'active' */
.menu a.active {
    color: #ffffff;
}